@require '../color.styl'

.join-page
  padding: 55px 20px 0 20px

  .list-item
    color: $color.white
    border-top: 1px solid $color.white5
    font-size: 18px
    padding: 10px 0
    &:first-child
      border-top: none
    .avatar-wrapper
      margin-right: 10px
