<header ng-hide="hideHeader" class="main-header layout horizontal center justified" ng-controller="HeaderController">
  <div class="back">
    <!-- <span ng-tap="back()" ng-show="backState" class="back-button">&#10092;</span> -->
    <span ng-tap="back()" ng-show="backState" class="back-button"></span>
  </div>
  <div class="flex">
    <h1 class="main-heading cursive">{{mainHeading}}</h1>
  </div>
  <span class="main-avatar avatar" img-src="{{currentUser.profile.avatar}}" popover-placement="bottom" popover="On the Bottom!">
    <img ng-src="{{currentUser.profile.avatar}}" alt="{{currentUser.profile.name}}">
  </span>
</header>
