@require 'color.styl'

.btn
  background-color: $color.white
  color: $color.gold
  font-size: 24px
  padding: 8px 20px
  min-width: 210px
  border: none
  &:visited
    color: $color.gold
  &:hover
    color: $color.gold
  &:active
    color: $color.white
    background-color: $color.gold
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2)
