
body
  font-family: 'Bitter', serif
  height: 100vh
  -webkit-font-smoothing: antialiased
  
.cursive
  font-family: 'Lobster Two', cursive

.view-height
  height: 100vh

.margin-top-1
  margin-top: 20px

.margin-bottom-1
  margin-bottom: 20px

.margin-left-1
  margin-left: 20px

.margin-right-1
  margin-right: 20px
