<div ng-if="$root.currentUser" class="layout horizontal center-justified fit create-page">
  <div class="layout vertical center center-justified fit">
    <form name="newGame" ng-submit="createGame(newGame)" class="layout vertical create-game-form">
      <label class="input-label" for="name">Name</label>
      <input type="text" name="gameName" ng-model="newGame.name" placeholder="{{$root.currentUser.profile.firstName}}'s Game">
      <div class="layout horizontal center-justified form-actions">
        <button class="btn">Create Game</button>
      </div>
      <!-- <label for="name">Passcode</label>
      <input type="text" name="gameName" ng-model="newGame.name" placeholder="{{$root.currentUser.profile.firstName}}'s Game"> -->
    </form>
  </div>
</div>
