<div class="view-height">
  <div class="layout vertical center question-page">
    <form ng-submit="askQuestion(question)" ng-hide="questionAsked" class="layout vertical center">
      <label for="" class="self-start">What If Question</label>
      <textarea ng-model="question.question" placeholder="What if..."></textarea>
      <button type="submit" class="btn margin-top-1">Submit</button>
    </form>
    <div ng-show="questionAsked">
      <div class="layout vertical center">
        <h3>Waiting For:</h3>
        <div class="layout horizontal center-justified">
          <div class="player-wrapper margin-right-1" ng-repeat="player in waitingOn">
            <user user-id="{{player}}" size="medium" name="false"></user>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
