@require '../color.styl'

.user
  .avatar-wrapper
    height: 40px
    width: 40px
    overflow: hidden
    border-radius: 50%

    &.avatar-medium
      height: 70px
      width: 70px

    &.avatar-small
      height: 40px
      width: 40px

    &.avatar-large
      height: 100px
      width: 100px

    img
      height: 100%
      width: auto

  .avatar-name
    font-size: 14px
